body{
    background-color: #EEEEEE;
}

.main{
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 5px;
    width: 95%;
    display: flex;
    flex-direction: column;
}

.tools{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.chart{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

p {
    display: block;
    margin: 0 0 0 0;
}

.tool{
    width: 180px;
    font-size: 18px;
    margin-top: 5px;
}

#time_value{
    width: 110px;
}

#chartContainer{
    width:85%;
}

#myChart{
    background-color: white;
}


.ui-slider-horizontal .ui-slider-handle {
    top: -.15em;
    margin-left: -.35em;
}

.ui-slider-horizontal {
    height: 0.5em;
}

.ui-slider .ui-slider-handle {
    width: 0.8em;
    height: 0.8em;
}