<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Точность прогноза</title>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/static/style.css">
    <script type="text/javascript"  src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" src="/static/script.js"></script>
</head>
<body>
    <div class="main">
        <div class="tools">
            <div class="tool">
                <p><label for="stop">Остановка:</label></p>
                <select id="stop" onchange="loadRoutes()">

                </select>
            </div>

            <div class="tool">
                <p><label for="route">Маршрут:</label></p>
                <select id="route" onchange="loadData()">

                </select>
            </div>

            <div class="tool time_tool">
                <div>
                    <label for="time_value">Время:</label>
                    <span id="time_value"></span>
                </div>
                <div id="slider-range" style="display: flex; justify-content: center;"></div>
            </div>
        </div>
        <div class="chart">
            <div id="chartContainer">
                <canvas id="myChart"></canvas>
            </div>
        </div>
    </div>

</body>

</html>
